.signup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    width: auto;
}

.signup-title{
    font-size: 3rem;
    color: #648081;
    text-align: center;
}